@font-face {
    font-family: 'Beleren';
    src: url('/Assets/Fonts/MAGIC.TTF') format('truetype');
    font-weight: bold;
}

.flex-col-reverse { display: flex; }
.flex-row-reverse { display: flex; }
.flex-col-reverse { flex-direction: column-reverse; }
.flex-row-reverse { flex-direction: row-reverse; }
.flex-row  { display: flex; }
.flex-col  { display: flex; }
.flex-row  { flex-direction: row; }
.flex-col  { flex-flow: column; }
.wrap      { flex-wrap: wrap; }
.nowrap    { flex-wrap: nowrap; }
.j-center  { justify-content: center; }
.j-stretch { justify-content: stretch; }
.j-between { justify-content: space-between; }
.a-center  { align-items: center; }
.a-stretch { align-items: stretch; }
.grow-0    { flex-grow: 0; }
.grow-1    { flex-grow: 1; }
.grow-2    { flex-grow: 2; }
.grow-3    { flex-grow: 3; }
.grow-4    { flex-grow: 4; }
.grow-5    { flex-grow: 5; }
.grow-6    { flex-grow: 6; }
.grow-0    { flex-grow: 0; }
.shrink-0  { flex-shrink: 0; }
.shrink-1  { flex-shrink: 1; }
.shrink-2  { flex-shrink: 2; }
.shrink-3  { flex-shrink: 3; }
.shrink-4  { flex-shrink: 4; }
.shrink-5  { flex-shrink: 5; }
.shrink-6  { flex-shrink: 6; }

.mana-symbol {
    position        : relative;
    display         : inline-block;
    width           : 20px;
    height          : 20px;
    text-indent     : -9999px;
    overflow        : hidden;
    white-space     : nowrap;
    border-radius   : 50%;
    background-color: transparent;
    box-shadow      : -0.5px 0.5px 0.25px black;
}

.mana-symbol::before {
    content         : "";
    position        : absolute;
    inset           : 0;
    background      : no-repeat center;
    background-size : contain;
}

.mana-symbol.sun::before   {background-image: url('/Assets/Symbols/w.svg');}
.mana-symbol.sun::before   {background-color: #f8f6db;}
.mana-symbol.drop::before  {background-image: url('/Assets/Symbols/u.svg');}
.mana-symbol.drop::before  {background-color: #80c0ff;}
.mana-symbol.drop::before  {background-size : calc(100% - 3px);}
.mana-symbol.skull::before {background-image: url('/Assets/Symbols/b.svg');}
.mana-symbol.skull::before {background-color: #aaa2a2;}
.mana-symbol.skull::before {background-size : calc(100% - 3px);}
.mana-symbol.flame::before {background-image: url('/Assets/Symbols/r.svg');}
.mana-symbol.flame::before {background-color: #f28863;}
.mana-symbol.flame::before {background-size : calc(100% - 3px);}
.mana-symbol.tree::before  {background-image: url('/Assets/Symbols/g.svg');}
.mana-symbol.tree::before  {background-color: #99cc99;}
.mana-symbol.tree::before  {background-size : calc(100% - 3px);}
.mana-symbol.waste::before {background-image: url('/Assets/Symbols/c.svg');}
.mana-symbol.waste::before {background-color: #d4d4d4;}
.mana-symbol.waste::before {background-size : calc(100% - 3px);}

body {
    position : absolute;
    left     : 0;
    top      : 0;
    right    : 0;
    bottom   : 0;
    margin   : 0;
    padding  : 0;
}

.mana-pool {
    margin : 10px;
    gap    : 15px;
}
.in-mana-pool {
    gap:  5px;
    font-family: 'Beleren', serif;
    font-size: 24px;
}